*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.box1
{
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
}
.box2
{
    height: 100px;
    width: 100px;
    background-color: black;
}